.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
    
    color: rgb(218, 214, 214);
    font-weight: 400;
    font-size: 1.2rem;
    width: max-content;
}

.list:hover{
    color: red;
}
.navbar-container{
    background-color:none ;
    position: fixed;
    padding-top: 70px;
    
}