.thirdPage-container{
    background-color: #23252a;
    min-height: 120vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
}

.thirdPage-heading{
    display: flex;
    color: antiquewhite;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
}

.thirdPage-heading h1{
    font-size: 200px;
}
.thirdPage-skills{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
  text-align: center;
}

.icons{
    height: 100px;
    width: 130px;
    text-align: center;
   
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-span{
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
    color: rgb(158, 160, 161);
    font-weight: 400;
}