.first-page{
    background-color: #23252a;
    height:100vh;
}
.heading{
    display: flex;
    flex-direction: column;
    color:#3c3f44 ;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 4.5rem;
    padding-top: 40px;
    
}
.firstPage-para1{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    
}

.firstPara-span{
    color: rgb(199, 19, 19);
}
.firstPage-para2{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}
.secondPara-span{
    color: rgb(153, 21, 21);
}
.icon{
    display: flex;
    height: 80px;
    width: 70px;
}
.social-icons{
    display: flex;
    justify-content:center;
    gap: 90px;
    margin-top: 60px;
}