.secondPage-container{
    min-height: 100vh;
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem 1rem;
    margin-top: -110px;
}
.secondPage-head{
    font-size: 160px;
    color:#3c3f44 ;
    font-weight: 600;
}
.secondPage-para{
    font-size: 43px;
    color:#1c1c1d ;
    margin-top: 60px;
    font-weight: 400;
}